.container{
	width:100%;
	margin:auto;
}
.contact-section{
	display:flex;
    justify-content:space-between;
	background-color: #106eea;
	color:white;
}
.contact-details{
	display:flex;
}
.contact-details p{
	padding:5px;
}
.contact-details i{
	margin-right:5px;
}
.contact-details p i:hover{
	color:black;
}
.contact-icons i:hover{
	color:gray;
}
.contact-icons{
	padding:5px;
	margin-top:15px;
}
.contact-icons i{
	margin-right:10px;
}

/* header section */

.header-section{
	display:flex;
	list-style-type:none;
	justify-content:space-between;
}
.header-contact{
	display:flex;
}
.header-contact li{
	margin-left:20px;
	margin-top:20px;
}
.header-contact li:hover{
	color:blue;
}
.banner-section img{
	width:100%;
	background-size:cover;
	margin-bottom:-300px;
}
.banner-text{
	position:relative;
	bottom:350px;
	margin-top:300px;
	margin-left:100px;
}
.banner-text h1{
	font-size:35px;
}
.banner-text span{
	color: #2642e8;
}
.btn-play{
	position:relative;
	bottom:350px;
	margin-left:100px;
	display:flex;
}
.btn-play button{
	background-color: #106eea;
	color:white;
	border:none;
	height:25px;
	margin-top:17px;
	border-radius:5px;
	letter-spacing:1px;
}
.btn-play button:hover{
	transition: 0.5s;
	color:skyblue;
}
.btn-play i{
	font-size:20px;
	margin-right:7px;
	color: #106eea;
}
.btn-play h3{
	margin-left:20px;
}
.btn-play h3:hover{
	color:#106eea;
}

/*third section*/

.third-section{
	display:flex;
}
.third-section .third-first{
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	text-align:center;
	margin-left:10px;
	height:175px;
	padding:20px;
}
.third-first{
	margin-top:-130px;
}
.third-first i{
	font-size:30px;
	color:#3b76aa;
	margin-right:80px;
}

.about-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.about-head{
	text-align: center;
	margin-top:40px;
}
.about-head span{
	color: #2642e8;
}
.about-img-txt{
	display:flex;
}
.about-img-txt .img-content{
	width:50%;
}
\.text-content{
	width:50%;
}
.img-content img{
	width:100%;
	height:500px;
	margin-left:10px;
}
.text-content{
	margin-left:80px;
	margin-top:30px;
}
.about-txt{
	margin-left:-10px;
}
.about-txt p{
	margin-left:30px;
}
.text-icon i{
	margin-right:10px;
	color:#3b76aa;
}

/* progress section*/
.skill-box{
	margin-top:30px;
	margin-left:50px;
	margin-bottom:40px;
}
.all-skill{
	display:flex;
}
.skill-box1{
	width:50%;
}
.skill-box2{
	width:50%;
}
.skill-box .skill-number{
	margin-left:330px;
}
.skill-box progress{
	width: 500px;
	border-radius: 0;
}
/* progress section end*/

/*all company starts*/

.all-four{
	display:flex;
}
.all-four .four{
	margin-top:30px;
	background-color: #cdcde4;
	width:25%;
	position:relative;
	margin-right:10px;
}
.all-four .four h1{
	text-align:center;
}
.all-four .four p{
	text-align:center;
}
.company-img{
	padding-left:120px;
	padding-right:20px;
	background-color: #e7e7fd;
	margin-top:40px;
}
.company-img img{
	height:55px;
	width:9.16%;
	justify-content:space-evenly;
	margin-top:20px;
	padding:30px;
	transition: all 0.4s ease-in-out;
}
.companyicon{
	width: 60px;
    height: 60px;
    background: #3b76aa;
    border-radius: 100px;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
	margin-left:132px;
	margin-top:-30px;
}

/*all company end*/
/*services start*/
.services-section{
	text-align:center;
	margin-top:30px;
}
.services-section button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.services-section h2 span{
	color:blue;
}
.ser-fir-three{
	width:33.33%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:10px;
	text-align:center;
	height:160px;
	padding:20px;
}
.ser-fir{
	display:flex;
}
.ser-sec-three{
	width:33.33%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:10px;
	text-align:center;
	height:160px;
	padding:20px;
	margin-top:10px;
}
.ser-sec{
	display:flex;
}
.services-six i{
	color:#106eea;
	font-size:30px;
}
.sevices-six h3:hover{
	color:black;
}
/*services ends*/
/*testimonial starts*/
.ratings{
    width: 100%;
    height: 550px;
    position: relative;
	margin-top:30px;
}
.ratings .big-image{
    background-image: url(../testimonials-bg.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}
.big-image::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 500px;
}
.rating-content{
    margin-left: 550px;
}
.rating-content img{
    width: 15%;
    margin-bottom: 5px;
    position: relative;
    border-radius: 50%;
    border: 6px solid rgb(99, 97, 94);
}
.head-rate{
    margin-left: 175px;
}
.head-rate h2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.head-rate h4{
    color: #fff;
    text-align: center;
}
.head-rate p{
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.head-rate p i{
    color: #9da1a5;
    padding-bottom: 25px;
}
.ratings-flex{
    position: absolute;
    top: 20%;
	margin-left:83px;
}
/*testimonial end*/

/*portfolio start*/
.portfolio-head{
	text-align:center;
}
.portfolio-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.portfolio-head span{
	color: blue;
}
.portfolio-li{
	display:flex;
	justify-content:center;
	list-style-type:none;
}
.portfolio-li li{
	margin-left:15px;
}
.portfolio-li li:hover{
	color:blue;
}
.port-flex{
    display: flex;
	margin-top:20px;
}
.port{
    width: 32.33%;
	margin-right:15px;
}
.port img{
    width: 100%;
    padding: 7px;
}
/*portfolio end*/

/*team starts*/
.team-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.team-head{
	text-align:center;
	margin-top:30px;
}
.team-head h2 span{
	color:blue;
}
.team-img{
	display:flex;
	margin-left:40px;
}
.team-img img{
	width:75%;
	margin-left:5px;
}
/*team ends*/

/*pricing */
.pricing-head{
	text-align:center;
	margin-top:30px;
}
.pricing-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.pricing-head h2 span{
	color:blue;
}
.pricing-four{
	display:flex;
	margin-bottom:20px;
}
.pricing-four .pricing-first{
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
}
.pricing-first{
	text-align:center;
	margin-left:20px;
	position:relative;
	overflow:hidden;
}
.pricing-four button{
    background: #106eea;
	border:none;
	color:white;
	padding:10px;
	width:100px;
	border-radius:5px;
}
.pricing-four button:hover{
	color:skyblue;
}
.price-btn{
	background-color: #e0e0e0;
	padding:20px;
}
.pricing-first h3{
   background-color: #e0e0e0;
   height:25px;
   padding:15px;
   margin-top:0px;
}
.pricing-first span{
	color:lightgray;
	font-size:30px;
}
.pricing-first sup{
	color: #106eea;
	font-size:30px;
}
.pricing-second sup{
	color: #106eea;
	font-size:30px;
}
.pricing-second span{
	color:lightgray;
	font-size:30px;
}
.pricing-second h3{
	background: #106eea;
	color:white;
	height:25px;
	text-align:center;
	padding:15px;
	margin-top:0px;
}
.pricing-second{
	text-align:center;
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:20px;
}
.pricing-first .advanced{
	width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
}

/*pricing end*/

/*faq starts*/
.faq-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.faq-head{
	text-align:center;
	margin-top:50px;
}
.faq-flex{
	margin-left: 220px;
    margin-right: 166px;
	margin-top:30px;
}
.freq{
	margin:25px;
}
.freq summary{
	list-style-type:none;
}
.freq i{
	margin-right:20px;
}
.freq p{
	margin-left:35px;
}
/*faq end*/

/*contact us starts*/
.contactus-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.contactus{
	overflow:hidden;
}
.contactus-head span{
	color:blue;
}
.contactus-head{
	text-align:center;
	margin-top:50px;
}
.contactus-add{
	margin-top:25px;
}
.contactus-add i{
	font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}
.map-side{
	width:40%;
	margin-left:110px;
	padding-top:20px;
}
.contactus-left{
	height:112px;
	box-shadow: 0 0 3px #999;
	padding-top: 21px;
	text-align:center;
   
}
.contactus-map{
	margin-top:35px;
}
.all-contactus{
	display:flex;
}
.right{
	display:flex;
	margin-left:131px;
	
}
.contactus-mail{
	width:50%;
	text-align:center;
	box-shadow: 0 0 3px #999;
	padding:20px;
	margin-bottom: 35px;
}
.contactus-call{
	width:50%;
	text-align:center;
	box-shadow: 0 0 3px #999;
	padding:20px;
	margin-bottom: 35px;
	margin-left:60px;
}
.contactus-right{
	width:50%;
	margin-left: 557px;
    margin-top: -424px;
}
.contactus-form{
	margin-left:100px;
	width:100%;
	margin-top: -50px;
}
.contactus-form .labs{
	display:flex;
	padding:20px;
	width:50%;
	padding:21px;
}
.contactus-form .lab1{
	width:100%;
	margin:10px;
}
.lab2{
	width:100%;
	height:60px;
	margin-left:32px;
}
.contactus-form .lab3{
	margin-left:37px;
	color:blue;
}
.contactus-form .lab5{
	padding:20px;
	margin-left:11px;
	width:100%
}
.contactus-form .lab3{
	margin-left:200px;
}
.lab3 button{
	border-color: #098cf7;
	color:white;
	background:#098cf7;
	border-radius:5px;
	width:130px;
	height:40px;
}

/*contact us ends*/

/*subscribe start*/
.subscribe{
	background: #f1f6fe;
	padding:15px;
}
.sub-section{
	text-align:center;
	margin-top:60px;
}
.sub-section button{
	background: #106eea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	width: 90px;
    height: 35px;
	border:none;
}
.sub-section input{
	width: 480px;
    height: 30px;
	border:none;
}
/*subscribe end*/

/*footer start*/
.footer {
    margin-top: 30px;
    background-color:  #fff;
    padding: 40px 0 20px 0;
    
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
	padding-left:40px;
}

.footer-flex .footer-box {
    width: 23.33%;
    height: auto;
}
.footer-flex .footerbox-1{
    width: 30%;
    height: 200px;
}
.footer-box h2{
    font-size: 22px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
	padding-bottom:20px;
}
.footer-box h4 {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.footer-box p {
    font-size: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.footer-box p span{
    font-weight: 700;
}
.footericon1{
    padding-top: 30px;
    font-size:15px;
    font-weight: 400;
    padding-left: 4px;
    font-family: "Raleway", sans-serif;
}
.footericon1 a{
    text-decoration: none;
}
.footer-box h3{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
	margin-left: 47px;
}
.footer-box li {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
	list-style-type:none;
}
.footer-box ul li span{
    color:black;
}
.footer-box a{
    text-decoration: none;
}
.footer-box ul li i {
    padding-right: 2px;
    color: #9eccf4;
    font-size: 18px;
    line-height: 1;
	list-style:none;
}
.footerbox-1 h3{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
.footerbox-1 p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.footer-box:hover {
    color: #007aff;
}
.footerbox-1 form {
    display: flex;
    padding-top: 25px;
}
.footericon1 a{
    font-size: 18px;
    display: inline-block;
    background: #768fa6;
    line-height: 36px;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    justify-content: center;
}
.footericon1 a:hover{
    background-color:#007aff;
}
.footer-box span:hover{
    color: #007aff;
}
/*footer ends*/

/*legal starts*/
.legal{
 background: #f1f6fe;
}
.all-legal{
	display:flex;
}
.all-legal h4{
	margin-left: 860px;
}
/*legal ends*/