.container{
	width:100%;
	margin:auto;
}
.contact-section{
	display:flex;
    justify-content:space-between;
	background-color: #3b76aa;
	color:white;
}
.contact-details{
	display:flex;
}
.contact-details p{
	padding:5px;
}
.contact-details i{
	margin-right:5px;
}
.contact-icons{
	padding:5px;
	margin-top:15px;
}
.contact-icons i{
	margin-right:10px;
}

/* header section */

.header-section{
	display:flex;
	list-style-type:none;
	justify-content:space-between;
}
.header-contact{
	display:flex;
}
.header-contact li{
	margin-left:20px;
	margin-top:20px;
}
.banner-section img{
	width:100%;
	background-size:cover;
	margin-bottom:-300px;
}
.banner-text{
	position:relative;
	bottom:350px;
	margin-top:300px;
	margin-left:100px;
}
.banner-text h1{
	font-size:35px;
}
.banner-text span{
	color: #2642e8;
}
.btn-play{
	position:relative;
	bottom:350px;
	margin-left:100px;
	display:flex;
}
.btn-play button{
	background-color: #3b76aa;
	color:white;
	border:none;
	height:25px;
	margin-top:17px;
	border-radius:5px;
}
.btn-play i{
	font-size:20px;
	margin-right:7px;
	color: #3b76aa;
}
.btn-play h3{
	margin-left:20px;
}

/*third section*/

.third-section{
	display:flex;
}
.third-section .third-first{
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	text-align:center;
	margin-left:10px;
	height:175px;
	padding:20px;
}
.third-first{
	margin-top:-130px;
}
.third-first i{
	font-size:30px;
	color:#3b76aa;
}

.about-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.about-head{
	text-align: center;
	margin-top:40px;
}
.about-head span{
	color: #2642e8;
}
.about-img-txt{
	display:flex;
}
.about-img-txt .img-content{
	width:50%;
}
\.text-content{
	width:50%;
}
.img-content img{
	width:100%;
	height:500px;
	margin-left:10px;
}
.text-content{
	margin-left:80px;
	margin-top:30px;
}
.about-txt{
	margin-left:-10px;
}
.about-txt p{
	margin-left:30px;
}
.text-icon i{
	margin-right:10px;
	color:#3b76aa;
}

/* progress section*/

.container .skill-box{
	width:100%;
	margin:25px 0;
}
.skill-box .title{
	display:block;
	font-size:14px;
	font-weight:600;
	color:#333;
}
.skill-box .skill-bar{
	height:8px;
	width:100%;
	border-radius:6px;
	margin-top:6px; 
	background: rgba(0,0,0,0,1)
}
.skill-bar .skill-per{
	position:relative;
	display:block;
	height:100%;
	width:90%;
	border-radius:6px;
	background:#4070f4;
}
.skill-per .tooltip{
	position:absolute;
	right:-14px;
	top:-28px;
	background:#4070f4;
}
/* progress section end*/

/*all company starts*/

.all-four{
	display:flex;
}
.all-four .four{
	margin-top:30px;
	background-color: #cdcde4;
	width:25%;
	position:relative;
	margin-right:10px;
}
.all-four .four h1{
	text-align:center;
}
.all-four .four p{
	text-align:center;
}
.company-img{
	padding-left:120px;
	padding-right:20px;
	background-color: #e7e7fd;
	margin-top:40px;
}
.company-img img{
	height:55px;
	width:9.16%;
	justify-content:space-evenly;
	margin-top:20px;
	padding:30px;
}
.companyicon{
	width: 60px;
    height: 60px;
    background: #3b76aa;
    border-radius: 100px;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
	margin-left:100px;
	margin-top:-30px;
}

/*all company end*/
/*services start*/
.services-section{
	text-align:center;
	margin-top:30px;
}
.services-section button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.ser-fir-three{
	width:33.33%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:10px;
	text-align:center;
	height:160px;
	padding:20px;
}
.ser-fir{
	display:flex;
}
.ser-sec-three{
	width:33.33%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:10px;
	text-align:center;
	height:160px;
	padding:20px;
	margin-top:10px;
}
.ser-sec{
	display:flex;
}
.services-six i{
	color:#3b76aa;
	font-size:30px;
}
/*services ends*/
/*testimonial starts*/
.ratings{
    width: 100%;
    height: 550px;
    position: relative;
	margin-top:30px;
}
.ratings .big-image{
    background-image: url(../testimonials-bg.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}
.big-image::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 500px;
}
.rating-content{
    margin-left: 550px;
}
.rating-content img{
    width: 15%;
    margin-bottom: 5px;
    position: relative;
    border-radius: 50%;
    border: 6px solid rgb(99, 97, 94);
}
.head-rate{
    margin-left: 175px;
}
.head-rate h2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.head-rate h4{
    color: #fff;
    text-align: center;
}
.head-rate p{
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.head-rate p i{
    color: #9da1a5;
    padding-bottom: 25px;
}
.ratings-flex{
    position: absolute;
    top: 20%;
}
/*testimonial end*/

/*portfolio start*/
.portfolio-head{
	text-align:center;
}
.portfolio-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.portfolio-head span{
	color: blue;
}
.portfolio-li{
	display:flex;
	justify-content:center;
	list-style-type:none;
}
.portfolio-li li{
	margin-left:15px;
}
.port-flex{
    display: flex;
	margin-top:20px;
}
.port{
    width: 32.33%;
	margin-right:15px;
}
.port img{
    width: 100%;
    padding: 7px;
}
/*portfolio end*/

/*team starts*/
.team-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.team-head{
	text-align:center;
	margin-top:30px;
}
.team-img{
	display:flex;
	margin-left:40px;
}
.team-img img{
	width:75%;
	margin-left:5px;
}
/*team ends*/

/*pricing */
.pricing-head{
	text-align:center;
	margin-top:30px;
}
.pricing-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.pricing-four{
	display:flex;
	margin-bottom:20px;
}
.pricing-four .pricing-first{
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
}
.pricing-first{
	text-align:center;
	margin-left:20px;
	position:relative;
	overflow:hidden;
}
.pricing-four button{
    background: #106eea;
	border:none;
	color:white;
	padding:10px;
	width:100px;
	border-radius:5px;
}
.price-btn{
	background-color: #e0e0e0;
	padding:20px;
}
.pricing-first h3{
   background-color: #e0e0e0;
   height:25px;
   padding:15px;
   margin-top:0px;
}
.pricing-first span{
	color:lightgray;
	font-size:30px;
}
.pricing-first sup{
	color: #106eea;
	font-size:30px;
}
.pricing-second sup{
	color: #106eea;
	font-size:30px;
}
.pricing-second span{
	color:lightgray;
	font-size:30px;
}
.pricing-second h3{
	background: #106eea;
	color:white;
	height:25px;
	text-align:center;
	padding:15px;
	margin-top:0px;
}
.pricing-second{
	text-align:center;
	width:25%;
	box-shadow: 0px 0px 1px 1px #A4A4A5;
	margin-left:20px;
}
.pricing-first .advanced{
	width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
}

/*pricing end*/

/*faq starts*/
.faq-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.faq-head{
	text-align:center;
	margin-top:50px;
}
.faq-flex{
	margin-left: 220px;
    margin-right: 166px;
	margin-top:30px;
}
.freq{
	margin:25px;
}
.freq summary{
	list-style-type:none;
}
.freq i{
	margin-right:20px;
}
.freq p{
	margin-left:35px;
}
/*faq end*/

/*contact us starts*/
.contactus-head button{
	background-color: #bee2f0;
	color:#3b76aa;
	border:none;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
}
.contactus-head span{
	color:blue;
}
.contactus-head{
	text-align:center;
	margin-top:50px;
}
.contactus-add{
	margin-top:25px;
}
.contactus-add i{
	font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}
.map-side{
	width:40%;
	margin-left:110px;
	padding-top:20px;
}
.contactus-left{
	height:112px;
	box-shadow: 0 0 3px #999;
	padding-top: 21px;
	text-align:center;
   
}
.contactus-map{
	margin-top:35px;
}
.all-contactus{
	display:flex;
}
.right{
	display:flex;
	margin-left:131px;
	
}
.contactus-mail{
	width:50%;
	text-align:center;
	box-shadow: 0 0 3px #999;
	padding:20px;
	margin-bottom: 35px;
}
.contactus-call{
	width:50%;
	text-align:center;
	box-shadow: 0 0 3px #999;
	padding:20px;
	margin-bottom: 35px;
}
.contactus-right{
	width:50%;
	margin-left: 629px;
    margin-top: -424px;
}
.contactus-form{
	margin-left:100px;
	width:100%;
	margin-top: -50px;
}
.contactus-form .labs{
	display:flex;
	padding:20px;
	width:50%;
	padding:21px;
}
.contactus-form .lab1{
	width:100%;
	margin:10px;
}
.lab2{
	width:100%;
	height:60px;
	margin-left:32px;
}
.contactus-form .lab3{
	margin-left:37px;
	color:blue;
}
.contactus-form .lab5{
	padding:20px;
	margin-left:11px;
	width:100%
}
.contactus-form .lab3{
	margin-left:200px;
}
.lab3 button{
	border-color: #098cf7;
	color:white;
	background:#098cf7;
	border-radius:5px;
	width:130px;
	height:40px;
}
input{
height:25px;	
	
}

/*contact us ends*/